body {
    background-color: #f5a5ff;
}

.App {
    color: #7b7dff;
}

.App-banner {
    display: flex;
    align-items: center;
}

.App-title {
    margin-left: 100px;
}

.App-body {
    margin-left: 100px;
    margin-right: 100px;
}
