.todo-category {
    padding: 10px;
    background-color: #7b7dff;
    color: white;
    margin-left: auto;
}

.todo-item {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #c090fd;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}